.mat-icon {
  justify-content: center;
  position: fixed;
  top: 0.5rem;
  color: white;
  border: solid 2px white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  margin: auto;
  cursor: pointer;
  align-items: center;
}

.cards {
  border-radius: 5px;
  border: solid 2px darkgray;
  height: 90%;
  overflow: auto;
  padding: 2rem;
  background-color: #f5f5f5;

  app-loading {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  app-card-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
  }

  @media (max-width: 1280px) {
    app-card-list {
      grid-template-columns: 45% 45%;
    }
  }

  @media (max-width: 768px) {
    app-card-list {
      grid-template-columns: 90%;
    }
  }
}
