@if (cardsSelecionados.length) {
<div class="remover-cards">
  <div class="content">
    <h3>Selecione até 5 cartas para remover</h3>
    <p>Quantidade selecionada: {{ cardsSelecionados.length }}</p>
  </div>
  <div class="botoes">
    <button mat-stroked-button color="warn" (click)="cancelarRemocao()">
      Cancelar
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="cardsSelecionados.length === 0"
      (click)="removerCards()"
    >
      Remover
    </button>
  </div>
</div>
} @for (card of cards; track card) {
<mat-card>
  <div class="card-header">
    <div
      class="checkbox"
      [matTooltip]="
        cardsSelecionados.length + quantidadeDeCardsRemovidos >= 5 &&
        !isSelecionado(card)
          ? 'Você pode remover apenas 5 cartas por coleção'
          : ''
      "
    >
      <mat-checkbox
        [ngClass]="{
          'limite-max':
            cardsSelecionados.length + quantidadeDeCardsRemovidos >= 5 &&
            !isSelecionado(card)
        }"
        [checked]="isSelecionado(card)"
        (change)="alterarSelecao($event, card)"
      ></mat-checkbox>
    </div>

    <div class="color-identity-images">
      @for (colorIdentity of card.colorIdentity; track $index) { @if
      (colorIdentityImages[colorIdentity]) {
      <img mat-card-md-image [src]="colorIdentityImages[colorIdentity]" />
      }@else {
      <span>{{ colorIdentity }}</span>
      } }
    </div>
  </div>
  <div class="card-content">
    <div class="card-img">
      <img mat-card-md-image [src]="card.imageUrl" />
    </div>
    <div class="card-info">
      <mat-card-title>{{ card.name }}</mat-card-title>
      <mat-card-subtitle>{{ card.manaCost }}</mat-card-subtitle>
      <p>
        {{ card.text }}
      </p>
    </div>
  </div>
</mat-card>
}
