@for (card of cards; track card) {
<mat-card>
  <div class="color-identity">
    @if (colorIdentityImages[card.colorIdentity[0]]) {
    <img mat-card-md-image [src]="colorIdentityImages[card.colorIdentity[0]]" />
    }@else {
    <span>{{ card.colorIdentity }}</span>
    }
  </div>
  <div class="card-content">
    <div class="card-img">
      <img mat-card-md-image [src]="card.imageUrl" />
    </div>
    <div class="card-info">
      <mat-card-title>{{ card.name }}</mat-card-title>
      <mat-card-subtitle>{{ card.manaCost }}</mat-card-subtitle>
      <p>
        {{ card.text }}
      </p>
    </div>
  </div>
</mat-card>
}
