mat-card {
  width: 100%;
  border: solid 2px lightgray;
  padding: 1rem 1rem 2.5rem 1rem;

  span {
    text-align: end;
    font-weight: bold;
  }

  .card-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .card-img {
    display: flex;
    align-items: center;
    width: 40%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .card-info {
    width: 60%;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }
}
