form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  width: 50%;

  mat-form-field {
    width: 20rem;
  }

  .buscar {
    border-radius: 5px;
    height: 3rem;
    width: 7rem;
  }
}

h3 {
  margin: 2rem;
}

.sets {
  border-radius: 5px;
  border: solid 2px darkgray;
  height: 60%;
  overflow: auto;
  padding: 2rem;
  background-color: #f5f5f5;

  app-set-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 32% 32% 32%;
  }
}
