form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem;
  width: 50%;

  mat-form-field {
    width: 20rem;
  }

  .buscar {
    border-radius: 5px;
    height: 3rem;
    width: 7rem;
  }
}

h3 {
  margin: 2rem;
}

.sets {
  border-radius: 5px;
  border: solid 2px darkgray;
  max-height: 55%;
  overflow: auto;
  padding: 2rem;
  background-color: #f5f5f5;

  app-loading {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
  }

  app-set-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 18% 18% 18% 18% 18%;
    justify-content: space-evenly;
  }

  @media (max-width: 1280px) {
    app-set-list {
      grid-template-columns: 20% 20% 20% 20%;
    }
  }

  @media (max-width: 1024px) {
    app-set-list {
      grid-template-columns: 30% 30% 30%;
    }
  }

  @media (max-width: 768px) {
    app-set-list {
      grid-template-columns: 45% 45%;
    }
  }
  @media (max-width: 480px) {
    app-set-list {
      grid-template-columns: 90%;
    }
  }
}
